.container {
  padding-top: 35vh;
  display: flex;
  flex-direction: column;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 40px;
}

.textFieldLabel {
  font-size: 1.4rem;
  align-self: flex-start;
}

.textFieldControl {
  margin-bottom: 2rem;
}

.submit {
  width: 100%;
}
