.container {
  padding-top: 35vh;
  display: flex;
  flex-direction: column;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 40px;
}

.textFieldLabel {
  font-size: 1.2rem;
  align-self: flex-start;
}

.textField {
  min-width: 15vw;
}

.submit {
  margin-top: 1rem;
  width: 100%;
}
