@import 'src/styles/custom-bootstrap/variables.scss';

.container {
  height: 100vh;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
  margin-bottom: 2rem;

  h4 {
    color: $secondary;
  }
}

.table {
  display: block;
  max-height: 500px;
  width: fit-content !important;
  overflow-y: auto;
  font-size: 1.15rem;

  thead {
    color: $secondary;
  }
}

.tableItemOptionContainer {
  display: flex;
  justify-content: space-between;
}

.tableItemOption {
  margin: 0 0.25rem;
}

.addButton {
  font-size: 1.25rem !important;
  width: 100%;
}
